#titulo {
    color: #B99470; 
    font-size: 30px;
    text-align: center;
}

body {
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
padding: 10px;
color: #445D48;
font-size: 30px;
border-bottom: 10px solid #5F6F52;
background-color: #A9B388;
justify-content: space-around;
}

.cabecalho {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.principal {
    background-color: #FEFAE0;
    padding: 30px;
}

.texto {
    color: rgb(190, 209, 17);
     font-size: 22px;
    text-align: center;
}

#logoprincipal {
    width: 185px;
    height: 185px;
    padding: 10px;
    margin: 10px;

}

.itens {
    font-style: italic;
    padding: 20px;
}

.listas1 {
    background-color: #B99470;
}

h2 {
    text-align: center;
    justify-content: space-around;
}

ul {
    display: inline-block ;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;

}

.imgblocos {
    width: 50%;
}