#titulo {
    color: #ad8319; 
    font-size: 30px;
    text-align: center;
}

body {
    
}
header {
padding: 20px;
color: #445D48;
font-size: 30px;
border-bottom: 5px solid #29ADB2;
background-color: #A3B763;
}
.cabecalho {
    display: flex;
    justify-content: space-around;
}

.principal {
    background-color: #E0FFFF;
    padding: 30px;
}

.texto {
    color: rgb(190, 209, 17);
     font-size: 22px;
    text-align: center;
}

#logoprincipal {
    width: 300px;
    height: 300px;
    padding: 30px;
    margin: 20px;

}

.itens {
    font-style: italic;
    padding: 20px;
}

.listas1 {
    background-color: #ad8319;
}

h2 {
    text-align: center;
}

ul {
    display: inline-block ;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;

}

.imgblocos {
    width: 50%;
}